<div class="container">
    <img src="\assets\images\logoArgentinaPrograma.png" alt="Argentina programa logo"  routerLink="/home" >
    <div *ngIf="token; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
        <span routerLink="/posteos">Editar</span>
        <span (click)="logout()">cerrar sesion</span>
    </ng-template>
    <ng-template #elseBlock>
        <div class="iniciar_container" routerLink="/login">
            <span>iniciar sesion</span>
            <mat-icon class="icon"  routerLink="/login">account_circle</mat-icon>
        </div>
    
    </ng-template>
</div>
