.containerMayor {
  background: url("src\assets\images\mountain.jpg");
  background-size: cover;
  border-radius: 8px;
  width: 95vw;
  box-shadow: 2px 2px 2px 1px black;
  height: 100%;
  overflow-y: visible;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 255, 68, 0.897) rgba(4, 255, 0, 0);
}

.container {
  border-radius: 8px;
  backdrop-filter: blur(10px);
  transition: 3s;
}

h2,p {
    color: white;
}

h2 {
  font-family: "Times New Roman", Times, serif;
  font-size: 2.2rem;
  line-height: 2.2rem;
  height: 100%;
  text-align: center;
}
.content{
  padding: 20px 30px 0 30px;
}

p {
    font-size: 1.5rem;
    line-height: 1.5em;
}

mat-icon{
    cursor: pointer;
    transform: scale(1.9) translateX(10px) translateY(10px);
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 1px  black;
}


@media (max-width:600px){
  .container{
    overflow-y: visible;
    height: 100%;
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 255, 68, 0.897) rgba(4, 255, 0, 0);
  }

  p{
    height: 100%;
    text-align: center;
  }
}


.css-text-mask {
	font-size: 52px;
  line-height: 4.3rem;
  background-image: url('/assets/images/nubes.jpg') ;
	background-position: -12px 0px;
  background-size: 700px;
	font-family: Impact, Charcoal, sans-serif;
  -webkit-animation: animatedBackground 15s linear infinite normal;
	-webkit-box-reflect: below -33px -webkit-gradient(linear, left top, left bottom,  from(transparent), color-stop(25%, transparent), to(#FFFFFF));
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #000000;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: #0000;
}

@keyframes animatedBackground {
	0% { background-position: 0 0 }
	100% { background-position: 500px 0 }
}

