<div class="containerMayor">
    <div class="container">
        <mat-icon (click)="close()">arrow_back</mat-icon>
        <div class="content">
            <h2 class="css-text-mask">Angular developer </h2>
            <p>
              Actualmente trabajando como Front-end / fullstack en una empresa de ciberseguridad de Argentina.
              Me encantan los perros , la inteligencia artifical y los teclado RGB.
              Actualmente buscando desarrollarme más en el area de back-end con sping-boot
            </p>
        </div>
    </div>
</div>
