<div class="containerMayor">
    <div class="container">
        <mat-icon (click)="close()">arrow_back</mat-icon>
        <div class="content">
            <h2 class="css-text-mask">Angular developer </h2>
            <p>
              Front End software developer currently working at Insside Ciberscurity in a enterprise product for international customers.

              I love dogs and artificial inteligence.

              Looking to expand my career with new and exiting projects.
            </p>

        </div>
    </div>
</div>
