<div *ngIf="token; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
    <div class="container_mayor">
        <app-header></app-header>
        <div class="container_of_containers">
            <div class="container">
                <div class="form_container">
                    <span>Tiulo: </span><br>
                    <input type="text" name="titulo" placeholder="Titulo" #titulo><br>
                    <span>Sub-Tiulo: </span><br>
                    <input type="text" name="sub_titulo" placeholder="Sub titulo" #sub_titulo><br>
                    <span>Descripcion</span><br>
                    <textarea rows="4" cols="40" name="descripcion" placeholder="Descripcion" #descripcion></textarea><br>
                    <span>Url imagen</span><br>
                    <textarea rows="4" cols="40" name="url_imagen" placeholder="Url imagen" #url_imagen></textarea><br>
                    <span>Url del proyecto</span><br>
                    <textarea rows="4" cols="40" name="url_proyecto" placeholder="Url Proyecto" #url_proyecto></textarea>
                    <input type="text" name="id" #id hidden><br>
                    <button (click)="crear()">Agregar</button>
                </div>
            
                <table class="table proyectos">
                    <thead>
                        <tr>
                            <th>Titulo</th>
                            <th>Sub-Titulo</th>
                            <th>Descripcion</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let item of lists">
                        <tr>
                            <td>{{item.titulo}}</td>
                            <td>{{item.sub_titulo}}</td>
                            <td>{{item.descripcion}}</td>
                            <td>
                                <div class="btn_borrar_editar">
                                    <mat-icon class="delete" (click)="borrar(item.id)">delete</mat-icon>
                                    <mat-icon class="edit" (click)="modificar(item)">edit</mat-icon>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="container">
                <div class="form_container">
                    <span>Habilidad: </span><br>
                    <input type="text" name="titulo" placeholder="habilidad" #habilidadDura><br>
                    <span>Nivel: </span><br>
                    <input type="text" name="sub_titulo" placeholder="dominio" #dominio><br>
                    <input type="text" name="id" #idDura hidden><br>
                    <button (click)="crearDura()">Agregar</button>
                </div>
            
                <table class="table duras">
                    <thead>
                        <tr>
                            <th>Habilidad</th>
                            <th>Nivel</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let item of listDuras">
                        <tr>
                            <td>{{item.habilidad}}</td>
                            <td>{{item.dominio}}</td>
                            <td>
                                <div class="btn_borrar_editar">
                                    <mat-icon class="delete" (click)="borrarDura(item.id)">delete</mat-icon>
                                    <mat-icon class="edit" (click)="modificarDura(item)">edit</mat-icon>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="container">
                <div class="form_container">
                    <span>Habilidad: </span><br>
                    <input type="text" name="titulo" placeholder="habilidad" #habilidadBlanda><br>
                    <span>Nivel: </span><br>
                    <input type="text" name="sub_titulo" placeholder="dominio" #nivel><br>
                    <input type="text" name="id" #idBlanda hidden><br>
                    <button (click)="crearBlanda()">Agregar</button>
                </div>
            
                <table class="table blandas">
                    <thead>
                        <tr>
                            <th>Habilidad</th>
                            <th>Nivel</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let item of listBlandas">
                        <tr>
                            <td>{{item.habilidad}}</td>
                            <td>{{item.nivel}}</td>
                            <td>
                                <div class="btn_borrar_editar">
                                    <mat-icon class="delete" (click)="borrarBlanda(item.id)">delete</mat-icon>
                                    <mat-icon class="edit" (click)="modificarBlanda(item)">edit</mat-icon>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="container">
                <div class="form_container">
                    <span>Sobre mi: </span><br>
                    <textarea name="" id="" cols="30" rows="5" #sobreMi></textarea>
                    <input type="text" name="id" #idSobreMi hidden><br>
                    <button (click)="crearSobreMi()">Agregar</button>
                </div>
            
                <table class="table blandas">
                    <thead>
                        <tr>
                            <th>Sobre Mi</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let item of listSobreMi">
                        <tr>
                            <td>{{item.sobremi}}</td>
                            <td>
                                <div class="btn_borrar_editar">
                                    <mat-icon class="delete" (click)="borrarSobreMi(item.id)">delete</mat-icon>
                                    <mat-icon class="edit" (click)="modificarSobreMi(item)">edit</mat-icon>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
    
        </div>
    </div>
        
        
    
</ng-template>
<ng-template #elseBlock>
    <div class="else_container">
        <img src="https://images.vectorhq.com/images/previews/cdf/gun-psd-458863.png" alt="imagen amenazante">
        <span>Has entrado a un area restringida, identificate</span>
        <mat-icon class="icon"  routerLink="/login" >account_circle</mat-icon>
    </div>
</ng-template>