.container_mayor{
    height: 100%;
    background-color: blue;
    overflow: auto;

}
.container_of_containers{
    display: flex;
    flex-direction: column;
}
.container{
    color: white;
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    z-index: 100;
    margin-bottom: 5rem;
    justify-content: center;
    align-items: center;
}
.form_container{
    margin-left: 1rem;
}
.btn_borrar_editar{
    display: flex;
}
.delete{
    color: rgb(255, 84, 84);
}
.edit{
    color: aquamarine;
}
.table{
    width: 70%;
    background-color: green;
    box-shadow: 3px 15px 15px  black;
    
}

table, th, td {
    border: 1px solid black;
  }


.else_container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100vh;
    flex-direction: column;
    color: white;
}

.else_container>img{
    transform: scaleX(-1) rotateZ(-14deg);
}
.else_container>span{
    font-size: 3rem;
    line-height: 3rem;
}
    
mat-icon{
    font-size: 3rem;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}