<app-sobre-mi class="sobreMi" id="sobreMi"></app-sobre-mi>
<app-proyectos class="proyectos" id="proyectos"></app-proyectos>
<app-contacto class="contacto" id="contacto"></app-contacto>
<app-header></app-header>
<div class="container">
    <h1>Fabian Guarascio</h1>
    <div class="spanContainer">
        <span (click)="cambio.cambio($sobremi)">sobre mi</span>
        <span (click)="cambio.cambio($proyectos)">proyectos</span>
        <span (click)="cambio.cambio($contacto)">contacto</span>
    </div>
</div>

