<app-sobre-mi
  class="about_me"
  [ngClass]="{'show':cardToShow === 'about-me'}"
  (closeWindowEvent)="cardToShow = null"
  ></app-sobre-mi>
<app-proyectos
  class="proyectos"
  [ngClass]="{'show':cardToShow === 'projects'}"
  (closeWindowEvent)="cardToShow = null"
  ></app-proyectos>
<app-contacto
  class="contacto"
  [ngClass]="{'show':cardToShow === 'contact'}"
  (closeWindowEvent)="cardToShow = null"
  ></app-contacto>
<div class="container">
    <h1>Fabian Guarascio</h1>
    <div class="sections_container">
        <div class="link_container">
          <p
            class="link"
            ctrl="Ctrl + A"
            (click)="addClassToShow('about-me')">
              About me
          </p>
        </div>
        <div class="link_container">
          <p
            class="link"
            ctrl="Ctrl + P"
            (click)="addClassToShow('projects')">
              Projects
          </p>
        </div>
        <div class="link_container">
          <p
            class="link"
            ctrl="Ctrl + C"
            (click)="addClassToShow('contact')">
              Contact
          </p>
        </div>
    </div>
</div>

